.filter__input__range {
	padding-bottom: 2rem;
	position: relative;

	&__bar {
		height: 0.4rem;
		position: relative;
		background-color: lightgrey;
		margin: 7px 10px 0;

		&__max,
		&__min {
			width: 20px;
			height: 20px;
			transform: translateY(-50%) translateX(-50%);
			background-color: black;
			z-index: 2;
		}

		&__range {
			height: 0.4rem;
			background: grey;
			transform: translateY(-50%);
			opacity: 0.4;
		}

		&__max,
		&__min,
		&__range {
			position: absolute;
			top: 50%;
		}

		&__min {
			left: 0;
		}

		&__max {
			left: 100%;
		}
	}

	&__values {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__selector input {
		pointer-events: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		cursor: pointer;
	}

	&__selector {
		position: absolute;
		z-index: 10;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		height: 20px;

		&--active {
			pointer-events: all !important;
		}
	}
}

.pc__coupons__add-coupon--success {
	border: 2px solid green;
}

div[class$="--loading"] {
	opacity: 0.5;
}

.pc--error {
	border: 1px solid red !important;
}

.pc__coupons__add-coupon--error,
.pc__error {
	border: 2px solid red;

	& + label {
		color: red;
	}
}