.grid {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
  /*grid-template-columns: repeat(3,1fr);*/
  grid-auto-rows: 2px;
  width: calc(100% + 10px);
  margin-left: -10px;

  .width-cover {
    height: auto;
  }
  &-size {
    &-1 {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    &-2 {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
    &-3 {
      grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
    }
    &-4 {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
      }
      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
    }
    &-5 {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
    }
    &-6 {
      grid-template-columns: repeat(auto-fill, minmax(16.666%, 1fr));
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
      }
      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
    }
  }
  .foto_container {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    @include ease(0.3s);
    display: flex;
    justify-content: center;
    align-items: center;

    picture {
    }
    img {
      width: 100%;
      height: auto;
    }

    .search-icon-svg {
      margin-bottom: 0;
    }

    &:hover {
      .search {
        &-icon-svg {
          opacity: 1;
        }
      }
    }
  }
}

.search {
  &-icon-svg {
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    opacity: 0;
    @include ease(0.4s);
    padding: 26px;
    background: white;
    border-radius: 100%;
    margin-bottom: 27px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.swiper-slide,
.post-image-wrapper,
.media-item,
.parallax-img {
  position: relative;
  .search {
    &-icon-svg {
      margin-bottom: 0;
    }
  }
  &:hover {
    .search {
      &-icon-svg {
        opacity: 1;
      }
    }
  }
}

.parallax-img {
  picture {
    img {
      position: relative;
      width: auto;
    }
  }
}
