/* FAQ */
.search-result .full-link-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.faq,
.tabs {
    position: relative;
    width: 100%;
}

.faq__search input.search-res-active {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 24px 24px 0 0;
    overflow: hidden;
    border: 2px solid var(--bdr-clr-1);
    border-bottom: none;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
    color: var(--pri-clr-1);
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.faq__search,
.tabs__search {
    position: relative;
    width: 100%;
    background-color: white;
}
.faq__search input,
.tabs__search input {
    position: inherit;
    width: inherit;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--pri-clr-6);
    padding: 10px 0 16px 0;
    color: var(--pri-clr-6);
}
.faq__search input::placeholder,
.tabs__search input::placeholder {
    color: var(--pri-clr-6);
}
.faq__search__list,
.tabs__search__list {
    position: absolute;
    padding: 0;
    list-style: none;
    width: 100%;
    z-index: 1;
}
.faq__search__list li p,
.tabs__search__list li p {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.faq__content,
.tabs__content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 140px;
}
.faq__content__tabs,
.tabs__content__tabs {
    position: relative;
    width: 250px;
    height: 100%;

    h3{
        margin-bottom: 30px;
    }
}
.faq__content__tabs .tab__item,
.tabs__content__tabs .tab__item {
    position: relative !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.faq__content__tabs .tab__item__index,
.tabs__content__tabs .tab__item__index {
    position: relative;
    margin-right: 20px;
}

.faq__content{
    margin-bottom: 200px;
}
.faq__content__questions,
.tabs__content__questions {
    position: relative !important;
    width: calc(100% - 250px);
    padding-left: 60px;
}
.faq__content__questions__wrapper,
.tabs__content__questions__wrapper {
    position: relative;
}
.faq__content__questions__wrapper .anchor{
    pointer-events: none;
}
.faq__content__questions__wrapper .anchor,
.tabs__content__questions__wrapper .anchor {
    display: block;
    margin-top: 60px;
    padding-bottom: 10px;
}
.faq__content__questions__wrapper .anchor span,
.tabs__content__questions__wrapper .anchor span {
    margin-right: 20px;
}
.faq__content__questions__wrapper .anchor.first,
.tabs__content__questions__wrapper .anchor.first {
    margin-top: 0;
}
.faq__content__questions .question__item,
.tabs__content__questions .question__item {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

}

.faq .question__item.question__item__first {
    border-top:  1px dashed black;
}

.faq__content__questions .question__item__question,
.tabs__content__questions .question__item__question {
    position: relative;
    margin-bottom: 0px;

    svg{
        width: 11px;
        height: 11px;
        position: absolute;
        right: 0;
        top: 5px;
        transform: rotate(90deg);
        transition: transform .3s ease-in-out;
    }
}
.faq__content__questions .question__item__question h4,
.tabs__content__questions .question__item__question h4 {
    margin-bottom: 0;
    font-family: 'American Typewriter', serif;
    font-weight: 400;
}
.faq__content__questions .question__item__answer,
.tabs__content__questions .question__item__answer {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;

    &__inner{
        padding-top: 20px;

        p:empty{
            display: none;
        }
    }
}
.faq__content__questions .question__item__answer p,
.tabs__content__questions .question__item__answer p,
.faq__content__questions .question__item__answer li,
.tabs__content__questions .question__item__answer li,
.faq__content__questions .question__item__answer ul,
.tabs__content__questions .question__item__answer ul {
    margin-bottom: 1em;
}

.faq__content__questions .question__item__answer ul,
.tabs__content__questions .question__item__answer ul {
    padding-left: 15px;
}

#faq-search-results {
    position: absolute;
    top: 40px;
    z-index: 40;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.2s ease;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
    border-top: none;
    background-color: white;
}
#faq-search-results p {
    color: var(--pri-clr-1);
    font-size: 14px;
    line-height: 18px;
    min-width: 120px;
    background-color: transparent;
    padding: 0 20px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

#faq-search-results.search-active {
    visibility: visible;
    opacity: 1;
}
#faq-search-results::before {
    content: "";
    position: absolute;
    height: 100%;
    bottom: -100px;
    width: 120%;
    left: -10%;
    filter: blur(50px);
    background-color: white;
}
.search-result-wrapper {
    position: relative;
    z-index: 1;
}
.search-result-wrapper .search-result-inner {
    max-height: 190px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
}

.search-result {
    position: relative;
    border-top: 1px solid var(--bdr-clr-1);
}
.search-result__question h6 {
    color: var(--pri-clr-1);
    font-size: 14px;
    line-height: 18px;
    min-width: 120px;
    background-color: transparent;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-result__question h6 span {
    font-size: 14px;
    line-height: 18px;
}
.search-result__question .active {
    color: var(--pri-clr-2);
}

.search-result__answer p {
    color: inherit;
}

.question__item__question.active svg{
    transform: rotate(-90deg);
}
.faq .question__item,
.tabs .tab__item {
    border-bottom: 1px dashed black;
}
.faq .tab__item.first,
.faq .question__item.first,
.tabs .tab__item.first {
    border-top: none;
    padding-top: 0;
}
.tabs__content {
    padding-top: 0 !important;
}

.tabs__content__text {
    transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}
.tabs__content__text__wrapper {
    position: absolute;
    opacity: 0;
    transform: translateY(100%) translateZ(0);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}
.tabs__content__text__wrapper .anchor {
    padding: 0;
    
}

.tab__item__link {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    position: absolute;
}

.faq__content__tabs {
    position: sticky;
    top: 200px;
    margin-bottom: 40px;
}


.tabs__content__text__wrapper.active {
    transform: translateZ(0);
    opacity: 1;
    transition-delay: 0.4s;
}

.tab__item{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 6px;
        left: -20px;
        opacity: 0;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background: black;
    }
    &.active{
        &::before{
            opacity: 1;
        }
    }

    
}