{% dynamic %}
    
    {% assign field_lines = form.field_lines %}
    {% assign any_required = field_lines | map: "required" | uniq %}
    {% if form.title != blank %}
        <h3>{{form.title}}</h3>
    {% endif %}
    {% if any_required.length > 1 or any_required[0] %}
        <p>Velden met * zijn verplicht</p>
    {% endif %}
    {% form for: form, to: form.email, success_url: form.success_page_link, enable_recaptcha: "skip_js", class: "default-form", enable_cdn: true, disable_spam_filter: true %}
        <p style="color:red;" class="errors">
        </p>
        <p style="color:green;" class="success"></p>
        {% for field in form.field_lines %}
        {% include field %}
    {% endfor %}
    <div>
    <input type="submit" value="{{form.send_text}}">
    </div>
    {% endform %}
{% enddynamic %}

<script>
  // Submit forms

var forms = document.querySelectorAll("form.default-form")
// form.addEventListener('submit', function(e) {
//   e.preventDefault()

//   // Do your thing

//   executeRecaptcha(form, function(){
//     form.submit() // Submit the form after the token is generated.
//   })
// });

forms.forEach(function(form) {
  form.addEventListener('submit', function(e) {
    e.preventDefault() 

    loadRecaptcha("contactRecaptcha", function(token) {
      formData = new FormData(form);
      // set recaptcha_action in formData
      formData.append("recaptcha_action", "contactRecaptcha")
      formData.append("g-recaptcha-response", token)

      action = form.action;
      
      fetch(action, {
        method: 'POST',
        body: formData,
        headers: {
          'Accept': 'application/json',
        }
      })
      .then(response => response.json())
      .then(response => {
        resetErrors(form)
        resetSuccess(form)
        if(response.errors){
          errorsElement = form.querySelector(".errors")
          errorsElement.innerHTML = ""
          response.errors.forEach(function(error) {
            errorsElement.innerHTML += error["title"] + "<br>"
          })
        }else{

          clearForm(form)
          displaySuccessMessage(form, response)
        }
      }).catch(error => {
        console.error("Error when submitting form", error)
      })
    })
  });
});

function clearForm(form) {
  resetErrors(form)
  resetSuccess(form)

  form.reset();
}

function resetErrors(form){
  errorElement = form.querySelector(".errors")
  if(errorElement){
    errorElement.innerHTML = ""
  }
}

function resetSuccess(form){
  successElement = form.querySelector(".success")
  if(successElement){
    successElement.innerHtml = ""
  }
}

// Redirect if success_url is provided (not an empty string), else display success_msg
function displaySuccessMessage(form, response){
  successElement = form.querySelector(".success")
  if(successElement){
    successElement.innerHTML = response.form_message.success_msg
  }

  if(response.form_message.success_url){
    window.location.href = response.form_message.success_url
  }
}

</script>
